<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz log</title>
    <link rel="stylesheet" type="text/css" th:href="@{ /css/common.css }" />
</head>
<body>
<h1>Chapter Test</h1>
<!--
    핸들러 메소드가 요청을 처리하고 논리 뷰 이름을 반환하면 DispatcherServlet은 화면에서 데이터를 표시하도록 뷰 템플릿에 제어권을 넘긴다.
    스프링 MVC에서는 다양한 전략에 맞게 뷰를 해석할 수 있는 ViewResolver 구현체 몇 가지가 있다.
    그 중 MVC 기본 설정에는 템플릿 명과 위치에 따른 뷰를 해석하는 InternalResourceViewResolver를 기본 사용하고 있다.
    prefix/suffix를 이용해 뷰 이름을 특정 애플리케이션 디렉터리에 대응시킨다.
    InternalResourceViewResolver는 사용이 간단해서 좋기는 하지만 Requestdispatcher가 forward할 수 있는 내부 리소스(jsp또는 서블릿)만
    해석이 가능하기 때문에, 다른 뷰 템플릿을 사용하는 경우에는 다른 viewResolver를 사용해야 한다.
    타임리프 또한 동일한 방식의 뷰 리졸버인 ThymeleafViewResolver를 사용한다.
    다만 prefix가 "resources/templates/" 이고 suffix가 ".html" 이다.
 -->

<form th:action="@{/main/create-chap}" th:object="${chapterQuizDTO}" method="post" id="chapterForm">
    <!--챕터 제목-->
    <input type="text" th:field="*{title}"  placeholder="제목" />
    <input type="text" th:field="*{description}"  placeholder="설명" />
    <div th:each="quiz, stat : *{quizFormDTOList}" id="quizFormList">
        <input type="text" th:field="*{quizFormDTOList[__${stat.index}__].title}" placeholder="단어" />
        <input type="text" th:field="*{quizFormDTOList[__${stat.index}__].answer}" placeholder="답변" />
    </div>
   <button type="button" onclick="addChapter()">➕ 챕터 추가</button>-->
    <button type="submit" >제출</button>
</form>
<script th:inline="javascript">
    let quizIndex = 2; // 초기 0번은 타임리프가 출력함
    function addChapter() {
        const container = document.getElementById('quizFormList');

        const newDiv = document.createElement('div');

        newDiv.innerHTML = `
        <input type="text" name="*{quizFormDTOList[${quizIndex}].title" placeholder="단어" />
        <input type="text" name="*{quizFormDTOList[${quizIndex}].answer" placeholder="답변" />
    `;
        container.appendChild(newDiv);

        quizIndex++;
    }
</script>


</body>

</html>


<!--
chapterDTO 안에 퀴즈리스트 담기?
두개 다담을 dto가 필요! ->requestCreateChapterDTO 기존꺼 활용.
-->

