<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: commonHead"></head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="main-page-container">
    <div th:replace="fragments/aside :: asideFragment" ></div>
    <div class="main-layout">
        <h1>탈퇴된 회원 목록</h1>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>닉네임</th>
                <th>이메일</th>
                <th>권한</th>
                <th>상태</th>
                <th>가입일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="deletedUser : ${deletedUsers}">
                <td th:text="${deletedUser.userId}"></td>
                <td th:text="${deletedUser.nickname}"></td>
                <td th:text="${deletedUser.email}"></td>
                <td th:text="${deletedUser.getRole()}"></td>
                <td th:text="${deletedUser.getStatus()}"></td>
                <td th:text="${#temporals.format(deletedUser.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
                <td>
                    <form th:action="@{/admin/restore-user}" method="post">
                        <input type="hidden" name="userId" th:value="${deletedUser.userId}"/>
                        <button type="submit">복구</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>