<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: commonHead"></head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="main-page-container">
    <div th:replace="fragments/aside :: asideFragment" ></div>
    <div class="main-layout">
        <div class="container">
            <h2 th:text="${teacher.nickname}">선생님 닉네임</h2>

            <form th:action="@{/like/teacher}" method="post">
                <input type="hidden" th:name="teacherId" th:value="${teacher.userId}" />
                <button type="submit" class="like-button">👍 이 선생님을 좋아요</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>