<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:href="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: commonHead"></head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="main-page-container">
    <div th:replace="fragments/aside :: asideFragment" ></div>
    <div class="teacher-layout">
        <div class="teacher-layout-container">

            <div class="teacher-header">
                <h2 th:text="${teacher.nickname}">선생님 닉네임</h2>

                <form th:action="@{/like/teacher}" method="post" class="like-form">
                    <input type="hidden" name="teacherId" th:value="${teacher.userId}" />
                    <button type="submit" class="like-button">
                        <span th:text="${liked} ? '❤️' : '🤍'"></span>
                    </button>
                    <span th:text="${likeCount}"></span>
                </form>
            </div>

            <div class="teacher-menu">
                <ul>
                    <li>챕터 목록</li>
                    <li>레슨</li>
                    <li name="inquiryList">문의 목록</li>
                    <!--if문 남기기 (역할조회)-->
                    <li><a th:href="@{/support/create/{teacherId}(teacherId=${teacher.userId})}">선생님에게 문의하기</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
<script>
    const onClickEvent = document.getElementsByName("inquiryList");
    function handleClick() {
        /*행동 정의*/

    }
    onClickEvent.addEventListener("click", handleClick);

</script>
</html>