<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
<aside th:fragment="asideFragment" class="side-nav">
  <div>
    <a href="/main"><img th:src="@{/images/home.svg}" alt="home">홈</a>
    <a th:href="@{/folder-chapters/folder-chapters-view}"><img th:src="@{/images/folder-plus.svg}" alt="folder-plus">폴더</a>
    <a href="/user/my-page"><img th:src="@{/images/settings.svg}" alt="settings">마이페이지</a>

    <!-- 관리자일때 관리자 페이지 -->
    <a href="/admin/list-users" sec:authorize="hasAuthority('ADMIN')">
      <img th:src="@{/images/Vector.svg}" alt="admin">관리자 페이지
    </a>

    <!-- 학생, 선생님일 때 관리자 채팅 문의 페이지 -->
    <form th:action="@{/chat/room}" method="post" sec:authorize="hasAnyAuthority('STUDENT', 'TEACHER')" style="display: inline;">
      <button type="submit" style="background: none; border: none; padding: 0; font: inherit; color: inherit; cursor: pointer;">
        <img th:src="@{/images/message-circle.svg}" alt="chat">채팅 문의
      </button>
    </form>
  </div>
</aside>
</body>
</html>