.main-page-container .side-nav{
    flex: 1;
    padding: 20px 10px;

}
.main-page-container .side-nav>div{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.main-page-container .side-nav>div a,
.main-page-container .side-nav > div form button{
    padding: 10px 10px;
    display: flex;
    gap: 15px;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s;
}
.main-page-container .side-nav>div a:hover,
.main-page-container .side-nav > div form button:hover{
    background-color: rgb(238, 249, 249);
    transition: 0.3s;
}

.main-page-container .side-nav > div form button img {
    box-shadow: none;   /* 이미지에 그림자 제거 */
}