*{
    box-sizing: border-box;
  }
  body{
    margin: 0; 
    color: #333;
    font-family: 'Noto Sans KR' , sans-serif;
    line-height: 1.5em;
    font-weight: 300;
    font-size: 15px;
    height: 100vh;
  }
  /* reset css */
  a {
    text-decoration: none;
    color: #333;
  }

  ul{
    margin: 0;
    padding: 0;
  }
  li{
  list-style: none; 
  }

  h1,h2,h3,h4,h5,h6{ 
    font-weight: 500;
    margin: 0;
  }
  button{
    border: none;
    background:none;
  }

/* 메인페이지 */
.main-page-container{
  display: flex;
}
.main-layout{
  flex: 5;
  padding: 30px 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.main-layout .main-content{
  display: flex;
  flex-direction: column;
  gap: 15px;

}
.main-layout .main-content div{
  height: 180px;
  background-color: #efeeee;
  border-radius: 10px;
}

.teacher-ranking {
  display: flex;
  gap: 20px;  /* 각 선생님 사이의 간격 */
  overflow-x: auto;  /* 너무 많을 경우 수평 스크롤 가능 */
}

.teacher-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.teacher-name {
  background-color: #f8f9fa;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.teacher-name:hover {
  background-color: #007bff;
  color: white;
}
