header{
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
  }

.logo-menu{
  display: flex;
  align-items: center;
  gap: 40px;
}
.logo-menu .logo img{
  height: 50px;
}
  .menu-icon{
    cursor: pointer;
  }

  .search{
    width: 50%;

    border-radius:5px;
    padding-left: 10px;
    background-color: #f0f0f0;
   
    display: flex;
    align-items: center;
    gap: 10px;
    height: 41px;
  }
  .search input{
    border: none;
    background: none;
    font-size: 16px;
    font-weight: 600;
  }
  .search input:focus{
    outline: none;
  }
  .search img{
    padding-top: 5px;
  }
  
  .contentright{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .contentright a{
    padding-top: 5px;
  }
  .contentright .user-profile{
    background-color: #f8f5f5;
    width: 40px;
    height: 40px;
    border-radius: 100%;

  }
.contentright .plus-circle{
  width: 40px;
}

.logout-button {
  color: #000000;
}