<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: commonHead"></head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="main-page-container">
  <div th:replace="fragments/aside :: asideFragment"></div>
  <div class="page-layout">
    <div class="page-layout-container">
      <h1>퀴즈 통계</h1>

      <div class="chapter-list">
        <div class="chapter-header">
          <span>아는 단어</span>
          <span>총 단어</span>
          <span>모르는 단어</span>
        </div>

        <div class="chapter-item" th:each="quiz : ${checkdQuiz}">
          <span class="checkedQuiz" th:text="${quiz.checkedQuiz}">10</span>
          <span class="total" th:text="${quiz.total}">20</span>
          <span class="uncheckedQuiz" th:text="${quiz.uncheckedQuiz}">10</span>
        </div>
      </div>

      <a class="back-link" th:href="@{/main}">← 메인으로 돌아가기</a>
    </div>
  </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
