<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Chapter List</title>
  <link rel="stylesheet" th:href="@{/css/footer.css}" />
  <link rel="stylesheet" th:href="@{/css/common.css}" />
  <link rel="stylesheet" th:href="@{/css/header.css}" />
  <link rel="stylesheet" th:href="@{/css/aside.css}" />
  <link rel="stylesheet" href="/css/recentQuizList.css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<!-- 새 챕터 등록 링크 -->
<div class="main-page-container">
  <div th:replace="fragments/aside :: asideFragment"></div>

  <!-- 퀴즈 리스트 -->
  <div class="main-layout">
    <div class="chapter-title">
      <h1>퀴즈 풀기</h1>
      <div class="folder-chapter-buttons">
        <span class="btn-green-color">폴더생성해서 넣기</span>
        <form action="/folder-chapters/create-folder-chapter" method="POST" class="hidden">
          <input type="text" name="title" pattern=".*\S.*" required>
          <input type="hidden" name="chapterId" th:value="${chapter.id}"/>
          <input type="submit" value="폴더생성" class="btn-green-custom">
        </form>
        <span class="btn-green-color">기존 폴더에 넣기</span>
        <div th:each="folderChapter : ${folderChapters}">
          <form action="/folder-chapters/add-chapter-to-folder" method="POST" class="hidden">
            <span th:text="${folderChapter.title}" ></span>
            <input type="hidden" name="folderChapterId" th:value="${folderChapter.id}" readonly>
            <input type="hidden" name="chapterId" th:value="${chapter.id}"/>
            <input type="submit" value="챕터담기" class="btn-green-custom">
          </form>
        </div>
      </div>

    </div>


    <div class="chapter-item" th:each="quiz : ${quizForm}">
      <span th:text="${quiz.word}">Title</span>
      <span th:text="${quiz.answer}">Answer</span>
      <span>퀴즈 폴더생성해서 넣기</span>
      <form action="/folder-bookmarks/create-folder-bookmark2" method="POST" class="hidden">
        <input type="text" name="title" pattern=".*\S.*" required>
        <input type="hidden" name="quizId" th:value="${quiz.id}"/>
        <input type="hidden" name="chapterId" th:value="${chapter.id}"/>
        <input type="submit" value="폴더생성" class="btn-green-custom">
      </form>
      <span>기존 퀴즈 폴더에 넣기</span>
      <div th:each="folderBookmark : ${folderBookmarks}">
        <form action="/folder-bookmarks/add-quiz-to-folder" method="POST" class="hidden">
          <span th:text="${folderBookmark.title}" ></span>
          <input type="hidden" name="folderBookmarkId" th:value="${folderBookmark.id}" readonly>
          <input type="hidden" name="quizId" th:value="${quiz.id}"/>
          <input type="hidden" name="chapterId" th:value="${chapter.id}"/>
          <input type="submit" value="퀴즈담기" class="btn-green-custom">
        </form>
      </div>

      <div class="card-box">
        <div class="card" id="card" onclick="flipCard(this)">
          <div class="card-inner">
            <span class="card-front" th:text="${quizSet[0].word}">동조하다</span>
            <span class="card-back" th:text="${quizSet[0].answer}" style="display:none">to agree</span>
          </div>
        </div>
      </div>


      <div class="buttons">
        <button onclick="correctClick()" type="button" id="correct">✓</button>
        <button onclick="incorrectClick()" type="button" id="incorrect">✕</button>
      </div>

      <div class="chapter-item" th:each="quiz : ${quizSet}">
        <span class="in-progress">현재 학습중인 단어</span>
        <span th:text="${quiz.word}">단어</span>
        <span th:text="${quiz.answer}">뜻</span>
      </div>

      <div class="chapter-item" th:each="checkquiz : ${checkdQuizs}">
        <span class="completed">학습완료 단어</span>
        <span th:text="${checkquiz.word}">단어</span>
        <span th:text="${checkquiz.answer}">뜻</span>
      </div>
    </div>

  </div>
</div>
<div th:replace="fragments/footer :: footer"></div>

<script th:inline="javascript">
  let flipped = false;
  let quizSet = /*[[${quizSet}]]*/ [];
  let chapterId = [[${chapterId}]];
  let count = 0;
  const cardText = document.getElementById('card-text');

  function checkRedirect() {
    if (count === quizSet.length) {
      window.location.href = "http://localhost:8080/main/" + chapterId + "/check";
    }
  }

  function incorrectClick() {
    checkRedirect();
    const {id, word, answer} = quizSet[count++];
    cardText.textContent = word;
    fetch('http://localhost:8080/solvedQuiz', {
      method: 'POST',
      headers: {'Content-Type': 'application/json'},
      body: JSON.stringify({chapterId, id, word, answer, status: "incorrect"})
    });
  }

  function correctClick() {
    checkRedirect();
    const {id, word, answer} = quizSet[count++];
    cardText.textContent = word;
    fetch('http://localhost:8080/solvedQuiz', {
      method: 'POST',
      headers: {'Content-Type': 'application/json'},
      body: JSON.stringify({chapterId, id, word, answer, status: "correct"})
    });
  }

  function flipCard(cardElement) {
    const front = cardElement.querySelector('.card-front');
    const back = cardElement.querySelector('.card-back');

    cardElement.classList.toggle('flipped');
    if (flipped) {
      front.style.display = 'flex';
      back.style.display = 'none';
    } else {
      front.style.display = 'none';
      back.style.display = 'flex';
    }
    flipped = !flipped;
    const {word, answer} = quizSet[count];
    cardText.textContent = flipped ? word : answer;
    flipped = !flipped;


  }
</script>


</body>
</html>
