<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/folder-chapters/create-folder-chapter" method="POST" >
   폴더명 : <input type="text" name="title" pattern=".*\S.*" required>
    <input type="submit" value="폴더생성">
</form>
<h3>폴더조회</h3>
<ul>
    <li th:each="name : ${folderChapters}" >
        <span th:text="${name}"></span>
        <form action="/folder-chapters/delete-folder-chapter" method="POST" style="display:inline;">
            <input type="hidden" name="folderTitle" th:value="${name}" />
            <button type="submit">폴더삭제</button>
        </form>
    </li>
</ul>
</body>
</html>