<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InquiryPage</title>
</head>
<body>
    <div class="inquiry-item" >
        <p th:text="${inquiry.title}"></p>
        <p th:text="${inquiry.content}"></p>
    </div>
    <div class="answer">
        <th:block th:if="${answer != null}">
            <p th:text="${answer.title}"></p>
            <p th:text="${answer.content}"></p>
        </th:block>
    </div>
    <button >
    </button>

    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>