*{
    box-sizing: border-box;
  }
  body{
    margin: 0; 
    color: #333;
    font-family: 'Noto Sans KR' , sans-serif;
    line-height: 1.5em;
    font-weight: 300;
    font-size: 15px;
    height: 100vh;
  }
  /* reset css */
  a {
    text-decoration: none;
    color: #333;
  }
  li{
  list-style: none; 
  }
  
  h1,h2,h3,h4,h5,h6{ 
    font-weight: 500;
    margin: 0;
  }
  button{
    border: none;
    background:none;
  }

  /* 헤더더 */
  header{
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
  }
  .menu-icon{
    cursor: pointer;
  }

  .search{
    width: 50%;

    border-radius:5px;
    padding-left: 10px;
    background-color: #f0f0f0;
   
    display: flex;
    align-items: center;
    gap: 10px;
    height: 41px;
  }
  .search input{
    border: none;
    background: none;
    font-size: 16px;
    font-weight: 600;
  }
  .search input:focus{
    outline: none;
  }
  .search img{
    padding-top: 5px;
  }
  
  .contentright{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .contentright a{
    padding-top: 5px;
  }
  .contentright .user-profile{
    background-color: #f8f5f5;
    width: 40px;
    height: 40px;
    border-radius: 100%;

  }


  .main-page-container{
    display: flex;
  }
  /* 사이드바 */
  .main-page-container .side-nav{
    flex: 1;
    padding: 20px 10px;
 
  }
  .main-page-container .side-nav>div{
    display: flex;
    flex-direction: column;
    gap: 10px;

  }
  .main-page-container .side-nav>div a{
    padding: 10px 10px;
    display: flex;
    gap: 15px;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s;
  }
  .main-page-container .side-nav>div a:hover{
    background-color: rgb(238, 249, 249);
    transition: 0.3s;
  }

  /* 메인페이지 */
  .main-layout{
    flex: 5;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }

  .main-layout .main-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
   
  }
  .main-layout .main-content div{
    height: 180px;
    background-color: #efeeee;
    border-radius: 10px;
  }

  footer{
    height: 40px;
  }
 