<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: commonHead"></head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="main-page-container">
    <div th:replace="fragments/aside :: asideFragment" ></div>
    <div class="folder-layout">
        <div class="folder-layout-container">
            <h1>라이브러리</h1>
            <div class="library-menu">
                <ul>
                    <li style="color: #17CFAA; box-shadow: 0 2px 0 #17CFAA;" >챕터 폴더</li>
                    <li><a th:href="@{/folder-bookmarks/folder-bookmarks-view}">즐겨찾기 폴더</a></li>
                </ul>
            </div>
            <div class="folder-content">
                <div class="create-folder">
                    <div class="create-folder">
                        <form action="/folder-chapters/create-folder-chapter" method="POST" >
                            <input type="text" name="title" pattern=".*\S.*" required>
                            <input type="submit" value="폴더생성">
                        </form>
                    </div>
                </div>
                <ul>
                    <li th:each="name : ${folderChapters}">
                        <div><img th:src="@{/images/folder-icon-2.svg}" alt="folder-icon"><span th:text="${name}"></span></div>
                        <div><form action="/folder-chapters/update-folder-chapter" method="POST" style="display:inline;">
                            <input type="hidden" name="folderTitle" th:value="${name}" />
                            <input type="text" name="folderUpdateTitle" pattern=".*\S.*" required>
                            <button type="submit">폴더수정</button>
                        </form>
                            <form action="/folder-chapters/delete-folder-chapter" method="POST" style="display:inline;">
                                <input type="hidden" name="folderTitle" th:value="${name}" />
                                <button type="submit">폴더삭제</button>
                            </form></div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>